@import './variables.css';
/* .accounts-page {
	padding: 20px;
} */

.accounts-header {
	width: 350px;
	margin-bottom: 20px;
}

.search-bar,
.search-bar:focus {
	color: white;
	border: 1px solid var(--dark-400);
	background-color: var(--dark-200);
}

.search-bar::placeholder {
	color: var(--dark-500);
}

.accounts-table {
	width: 100%;
	border-collapse: collapse;
	background-color: var(--dark-100);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	color: var(--dark-500);
	overflow: hidden;
}

.accounts-table th,
.accounts-table td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid var(--dark-400);
}

.accounts-table th {
	background-color: var(--dark-100);
}

.status {
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

.status.active {
	background: #c8e6c9;
	color: #2e7d32;
}

.status.inactive {
	background: #ffcdd2;
	color: #c62828;
}

.btn {
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.btn-edit {
	background: #ffeb3b;
	color: #000;
}

.btn-delete {
	background: #e57373;
	color: white;
}
