@import './variables.css';

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 5px;
	/* background: #f1f1f1; */
	background: #bcc0c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
	transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

svg {
	fill: var(--dark-500);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: var(--dark);
}

a {
	text-decoration: none;
}

img {
	width: 5rem;
	height: 5rem;
}

.menu > li img {
	width: 1.7rem;
	height: 1.7rem;
}

.dashboard {
	display: flex;
	height: 100dvh;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: #e9e9e9;
	padding: 1rem;
	height: 100%;
	background-color: var(--dark-100);
	/* z-index: 100; */
	box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.5);
}

.menu {
	display: flex;
	flex-direction: column;
	padding-left: 0px;
	gap: 10px;
}

.menu > li {
	list-style: none;
}

.menu > li > a,
.sidebar a {
	color: black;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 5px 15px 5px 8px;
	color: var(--dark-500);
	transition: all 300ms ease;
	text-decoration: none;
}

.sidebar svg {
	transition: all 300ms ease;
}

.sidebar a:hover {
	color: #1e90ff;
}

.sidebar a:hover svg {
	fill: #1e90ff;
}

.sidebar .active svg {
	fill: #1e90ff;
}

.sidebar a.active {
	color: dodgerblue;
}

.sidebar-bottom-portion {
	/* height: 100%; */
	margin-top: auto;
}

.sidebar .heads {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	color: white;
}

.heads .logo {
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

/* Main Content */
.main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--dark-100);
	box-shadow: 4px 0px 4px rgb(0, 0, 0, 0.5);
}

.user-profile {
	display: flex;
	align-items: center;
	gap: 8px;
}

.search {
	display: flex;
	align-items: center;
}

.search > div {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}

.search img {
	width: 1.5rem;
	height: 1.5rem;
}

.search input,
.search input:focus {
	color: white;
	border: 1px solid var(--dark-400);
	background-color: var(--dark-200);
}

.search input::placeholder {
	color: var(--dark-500);
}

.user-profile {
	color: var(--dark-500);
}

.user-profile > img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

.content {
	padding: 1rem;
	overflow-y: scroll;
	background-color: var(--dark);
	color: white;
	height: 100%;
}
